<div class="side-bar-header">
  <%# <div class="side-bar-box"> %>
  <div class="header-name">
  <%# 仮 %>
    <a href="#">Tom</a>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>


<div class="rooms">
<%# 仮 %>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>